@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after,*::before{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }